* {
    cursor: none;
}

*::selection {
    background-color: var(--blue);
    color: var(--white)
}

:root {
    --blue: #003F5C;
    --purple: #58508D;
    --pink: #BC5090;
    --white: #F5F6FA;
}

html {
    scroll-behavior: smooth;
}

body {
    background: repeating-linear-gradient(197deg, var(--blue) 0, var(--blue) 5rem, var(--purple) 5rem, var(--purple) 10rem, var(--pink) 10rem, var(--pink) 15rem);
    padding-top: 2rem;
    margin: 0;
}

#container {
   margin-right: 10%;
   margin-left: 10%;
   margin-bottom: 5%;
}

section {
    border-radius: 0.5rem;
    background-color: var(--white);
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    align-items: center;
    margin: 2rem;
}

.team-wrapper {
    width: 70%;
    height: 70%;
    background: repeating-linear-gradient(197deg, var(--blue) 0, var(--blue) 1rem, var(--purple) 1rem, var(--purple) 2rem, var(--pink) 2rem, var(--pink) 3rem);
}

.team-container {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    background: var(--white);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

#info li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    transition: gap 0.2s ease-in-out;
}

#info li::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    transition: margin 0.2s ease-in-out;
}

#info li:hover {
    gap: 0.25rem;
}

#info li:hover::before {
    margin-left: 0.25rem;
}

#info li:nth-child(1)::before {
    background-color: var(--blue);
}

#info li:nth-child(2)::before {
    background-color: var(--purple);
}

#info li:nth-child(3)::before {
    background-color: var(--pink);
}

#cursor {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    position: fixed;
    pointer-events: none;
    background: repeating-linear-gradient(146deg, var(--blue) 0, var(--blue) 1rem, var(--purple) 1rem, var(--purple) 2rem, var(--pink) 2rem, var(--pink) 3rem);
}

#data-container {
    width: 95%;
    max-height: 30rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.website-visits {
    background: repeating-linear-gradient(197deg, var(--blue) 0, var(--blue) 1rem, var(--purple) 1rem, var(--purple) 2rem, var(--pink) 2rem, var(--pink) 3rem);
}

#chart-container {
    width: 80%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.chart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 5rem;
}

.loading {
    display: flex;
    flex-direction: column;
}

.loading div {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.loading div div {
    height: 3rem;
    width: 1rem;
}

.loading div div:nth-child(1) {
    background-color: var(--blue);
    animation: loading-animation 2s ease 0s infinite normal forwards;
}

.loading div div:nth-child(2) {
    background-color: var(--purple);
    animation: loading-animation 2s ease 0.6s infinite normal forwards;
}

.loading div div:nth-child(3) {
    background-color: var(--pink);
    animation: loading-animation 2s ease 1.2s infinite normal forwards;
}

@keyframes loading-animation {
	0% {
		transform: scale3d(1, 1, 1);
	}

	15% {
		transform: scale3d(1.25, 0.75, 1);
	}

	20% {
		transform: scale3d(0.75, 1.25, 1);
	}

	25% {
		transform: scale3d(1.15, 0.85, 1);
	}

	32.5% {
		transform: scale3d(0.95, 1.05, 1);
	}

	37.5% {
		transform: scale3d(1.05, 0.95, 1);
	}

	50% {
		transform: scale3d(1, 1, 1);
	}

    100% {
        transform: scale3d(1, 1, 1);
    }
}